.app__awards-content-awards {
  margin-top: 3rem;
  flex-wrap: wrap;
  display: flex;
}

.app__awards-content-awards-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 230px;
}

.app__awards-content-awards-item {
  margin: 2rem 0;
}

.app__awards-content-awards-item_img {
  margin: 0 1rem;
}

.app__awards-content-awards-item_img img {
  width: 57px;
  height: 57px;
}

.app__awards-content-awards-item_title {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.app__awards-content-awards-item_title p:first-child {
  color: var(--color-golden);
}

@media screen and (min-width: 1900px) {
  .app__awards-content-awards-item {
    min-width: 390px;
  }
}
@media screen and (max-width: 450px) {
  .app__awards-content-awards-item {
    min-width: 100%;
    margin: 1rem 0;
  }
}
